<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="br.com.gedai.mapper.DemandaListaAtividadeMapper">

	<resultMap id="mapSimples" type="br.com.gedai.data.DemandaListaAtividade">
		<id property="id" column="ID" />
		<result property="idDemandaLista" column="ID_DEMANDA_LISTA" />
		<result property="nome" column="NOME" />
		<result property="descricao" column="DESCRICAO" />
		<association property="statusAtividade" column="ID_STATUS_ATIVIDADE"	
					 select="br.com.gedai.mapper.StatusAtividadeMapper.obterPorId"/>
	</resultMap>

	<sql id="selectSimples">
		SELECT ID,
		       ID_DEMANDA_LISTA,
		       ID_STATUS_ATIVIDADE,
		       NOME,
		       DESCRICAO
		FROM TB_DEMANDA_LISTA_ATIVIDADE
	</sql>
	
	<select id="obterPorLista" resultMap="mapSimples">
		<include refid="selectSimples"/>
		WHERE ID_DEMANDA_LISTA = #{idDemandaLista}
	</select>
	
	<delete id="delete">
		DELETE FROM TB_DEMANDA_LISTA_ATIVIDADE
		WHERE ID = #{idDemandaListaAtividade}
	</delete>
	
	<update id="update">
		UPDATE TB_DEMANDA_LISTA_ATIVIDADE
		   SET NOME = #{nome},
		       DESCRICAO = #{descricao}
		WHERE ID = #{id}
	</update>
	
	<insert id="insert">
		INSERT INTO TB_DEMANDA_LISTA_ATIVIDADE
		(
		  ID_DEMANDA_LISTA,
		  ID_STATUS_ATIVIDADE,
		  NOME,
		  DESCRICAO
		)
		VALUES
		(
		  #{idDemandaLista},
		  #{statusAtividade.id},
		  #{nome},
		  #{descricao}
		)
	</insert>
	
</mapper>
