<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="br.com.gedai.mapper.DemandaListaAtividadeMapper">

	<resultMap id="mapSimples" type="br.com.gedai.data.DemandaListaAtividade">
		<id property="id" column="ID" />
			<result property="idDemandaLista" column="ID_DEMANDA_LISTA" />
		<result property="nome" column="NOME" />
		<result property="descricao" column="DESCRICAO" />
		<result property="uuid" column="UUID" />
		<result property="dataInclusao" column="DATA_INCLUSAO" />
		<result property="dataFinalizacao" column="DATA_FINALIZACAO" />
		<result property="dataInicio" column="DATA_INICIO" />
		<result property="dataInicioPrevisto" column="DATA_INICIO_PREVISTO" />
		<result property="dataFimPrevisto" column="DATA_FIM_PREVISTO" />
		<association property="usuarioLogado" column="USU_INCLUSAO"	
					 select="br.com.gedai.mapper.UsuarioMapper.obterPorId"/>
	</resultMap>
	
	<sql id="selectSimples">
		SELECT ID,
		       ID_DEMANDA_LISTA,
		       NOME,
		       DESCRICAO,
		       UUID,
		       DATA_INCLUSAO,
		       DATA_FINALIZACAO,
		       DATA_INICIO,
		       DATA_INICIO_PREVISTO,
		       DATA_FIM_PREVISTO,
		       USU_INCLUSAO
		FROM TB_DEMANDA_LISTA_ATIVIDADE
	</sql>
	
	
	<select id="obterAtividadePorDemandaPDF" resultType="br.com.gedai.dto.AtividadePDFDTO">
		SELECT TB_DEMANDA_LISTA_ATIVIDADE.NOME as nomeAtividade,
		       TB_DEMANDA_LISTA_ATIVIDADE.DESCRICAO as descAtividade,
		       TB_DEMANDA_LISTA_ATIVIDADE.DATA_FIM_PREVISTO as dataFimPrevista,
		       TB_DEMANDA_LISTA_ATIVIDADE.DATA_INICIO_PREVISTO as dataInicioPrevista,
		       TB_DEMANDA_LISTA_ATIVIDADE.DATA_INICIO as dataInicioRealizada,
		       TB_DEMANDA_LISTA_ATIVIDADE.DATA_FINALIZACAO as dataFimRealizada,
		       TB_USUARIO.NOME as nomeResp,
		       USUARIOINCLUSAO.NOME as nomeUsuarioInclusao
		FROM TB_DEMANDA_LISTA_ATIVIDADE
		LEFT JOIN TB_DEMANDA_LISTA_ATIVIDADE_USUARIO ON TB_DEMANDA_LISTA_ATIVIDADE.ID=TB_DEMANDA_LISTA_ATIVIDADE_USUARIO.ID_DEMANDA_LISTA_ATIVIDADE
		LEFT  JOIN TB_USUARIO AS USUARIOINCLUSAO ON USUARIOINCLUSAO.ID = TB_DEMANDA_LISTA_ATIVIDADE.USU_INCLUSAO
		LEFT  JOIN TB_USUARIO ON TB_DEMANDA_LISTA_ATIVIDADE_USUARIO.ID_USUARIO = TB_USUARIO.ID
		LEFT  JOIN TB_DEMANDA_LISTA ON TB_DEMANDA_LISTA_ATIVIDADE.ID_DEMANDA_LISTA =  TB_DEMANDA_LISTA.ID
		WHERE ID_DEMANDA=#{idDemanda};
	</select>
	
	<select id="obterPorId" resultMap="mapSimples">
		<include refid="selectSimples" />
		WHERE ID = #{idDemandaListaAtividade}
	</select>

	<select id="obterPorUUID" resultMap="mapSimples">
		<include refid="selectSimples" />
		WHERE UUID IN
		<foreach item="item" index="index" collection="lstUuid" open="(" separator="," close=")">
		#{item}
		</foreach>
	</select>
	
	<select id="obterPorLista" resultMap="mapSimples">
		<include refid="selectSimples" />
		WHERE ID_DEMANDA_LISTA = #{idDemandaLista}
	</select>
	
	<delete id="delete">
		DELETE FROM TB_DEMANDA_LISTA_ATIVIDADE
		WHERE ID = #{idDemandaListaAtividade}
	</delete>
	
	<update id="update">
		UPDATE TB_DEMANDA_LISTA_ATIVIDADE
		   SET NOME = #{nome},
		       DESCRICAO = #{descricao},
		       DATA_FINALIZACAO = #{dataFinalizacao}
		       
	       <if test="idDemandaLista != null">
	       		,ID_DEMANDA_LISTA=#{idDemandaLista}
	       </if>
	       
<!--      	   <if test="dataInicio != null"> -->
	       		,DATA_INICIO = #{dataInicio}
<!-- 	       </if> -->
	       
<!-- 	       <if test="dataInicioPrevisto != null"> -->
	       		,DATA_INICIO_PREVISTO = #{dataInicioPrevisto}
<!-- 	       </if> -->
	       
<!-- 	       <if test="dataFimPrevisto != null"> -->
	       		,DATA_FIM_PREVISTO = #{dataFimPrevisto}
<!-- 	       </if> -->
		WHERE ID = #{id}
	</update>
	
	<insert id="insert">
		INSERT INTO TB_DEMANDA_LISTA_ATIVIDADE
		(
		  ID_DEMANDA_LISTA,
		  NOME,
		  DESCRICAO,
		  UUID,
		  USU_INCLUSAO,
		  DATA_INCLUSAO
		  
		  <if test="dataInicio != null">
	       		,DATA_INICIO
	      </if>
	      <if test="dataFinalizacao != null">
	       		,DATA_FINALIZACAO
	      </if>
	      <if test="dataInicioPrevisto != null">
	      		,DATA_INICIO_PREVISTO
	      </if>
          <if test="dataFimPrevisto != null">
          		,DATA_FIM_PREVISTO
	      </if>
		)
		VALUES
		(
		  #{idDemandaLista},
		  #{nome},
		  #{descricao},
		  #{uuid},
		  #{usuarioLogado.id},
		  #{dataInclusao}
		  <if test="dataInicio != null">
	      	,#{dataInicio}
	      </if>
		  <if test="dataFinalizacao != null">
	      	,#{dataFinalizacao}
	      </if>
	      <if test="dataInicioPrevisto != null">
	      	,#{dataInicioPrevisto}
	      </if>
          <if test="dataFimPrevisto != null">
          	,#{dataFimPrevisto}	
	      </if>
		)
	</insert>
	
</mapper>
