<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="br.com.gedai.mapper.DemandaTarefaMapper">

	<sql id="selectSimples">
		SELECT ID,
		       NOME,
		       DESCRICAO,
		       UUID
		FROM TB_DEMANDA_TAREFA
	</sql>
	
	<select id="obterTarefasPorDemandaPDF" resultType="br.com.gedai.dto.TarefaPDFDTO">
		SELECT TB_DEMANDA_TAREFA.NOME as nome,
		       TB_DEMANDA_TAREFA.DATA_INCLUSAO as dataInclusao,
		       TB_DEMANDA_TAREFA_DIARIA.DATA_ATUALIZACAO as dataAtualizacao,
		       TB_USUARIO.NOME as nomeUsuario
		FROM TB_DEMANDA_TAREFA
		JOIN TB_DEMANDA_TAREFA_DIARIA ON TB_DEMANDA_TAREFA.ID = TB_DEMANDA_TAREFA_DIARIA.ID_DEMANDA_TAREFA
		JOIN TB_USUARIO ON TB_DEMANDA_TAREFA_DIARIA.ID_USUARIO = TB_USUARIO.ID
		WHERE ID_DEMANDA = #{idDemanda}
		ORDER BY NOME
	</select>
	
	
	<select id="obterPorDemanda" resultType="br.com.gedai.data.DemandaTarefa">
		<include refid="selectSimples"/>
		WHERE ID_DEMANDA = #{idDemanda}
		ORDER BY NOME
	</select>
	
	<select id="obterPorUUID" resultType="br.com.gedai.data.DemandaTarefa">
		<include refid="selectSimples"/>
		WHERE UUID IN
			<foreach item="item" index="index" collection="lstUuid" open="(" separator="," close=")">
				#{item}
			</foreach>
	</select>
	
	<select id="obterPorId" resultType="br.com.gedai.data.DemandaTarefa">
		<include refid="selectSimples"/>
		WHERE ID = #{id}
	</select>
	
	<update id="updateNomeTarefa">
		UPDATE TB_DEMANDA_TAREFA
		   SET NOME = #{nome}
		WHERE ID = #{id}
	</update>
	
	
	<insert id="insert">
		INSERT INTO TB_DEMANDA_TAREFA
			(NOME, 
			DESCRICAO, 
			ID_DEMANDA,
			USU_INCLUSAO,
			DATA_INCLUSAO,
			UUID)
		VALUES
			(#{nome},
			#{descricao},
			#{idDemanda},
			#{usuarioInclusao.id},
			#{dataInclusao},
			#{uuid})
	</insert>
	
</mapper>
