@CHARSET "ISO-8859-1";


.padding-top-150{padding-top: 150px !important;}

.bold{font-weight: bold;}

.hidden{display: none;}
.visibility-false{visibility: hidden !important;}
.visibility-true{visibility: visible !important;}

.float-right{float: right;}

.cursor-default{cursor: default !important;}

.text-center{text-align: center !important;}
.text-right{text-align: right !important;}